@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --f-poppins: "Poppins", serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-poppins);
}

body {
    background-color: rgb(16,16,16);
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./assets/bg.svg) no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.05;
}

/* NAV */

nav {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.05);
    display: flex;
    padding: 5px;
    border-radius: 0.2rem;
    backdrop-filter: blur(5px);
}

.navbar-button {
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 0.1rem;
    border: 0;
    background-color: rgb(50,50,50);
    color: white;
    cursor: pointer;
}

.navbar-button:hover {
    background-color: rgb(60,60,60);
}

.navbar-button:active {
    background-color: rgb(55,55,55);
}

/* RECOVERY CONTAINER */

.recovery-container {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 15px;
}

/* RECOVERY ITSELF */

.recovery-itself {
    background-color: rgb(35,35,35);
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    padding: 7px;
    border-radius: 0.5rem;
    border: 1px solid rgba(255,255,255,0.05);
}

.recovery-itself-start {
    color: white;
    background-color: rgb(20,20,20);
    padding: 7px;
    border-radius: 0.2rem;
    border: 1px solid rgba(255,255,255,0.1);
}

.recovery-itself-has-been {
    color: white;
    background-color: rgb(60,60,60);
    padding: 5px 10px;
    border-radius: 0.2rem;
    border-top: 1px solid rgba(255,255,255,0.05);
    border-bottom: 1px solid rgba(255,255,255,0.03);
    line-height: 25px;
}

/* FAILED ATTEMPTS */

.failed-attempts {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 15px;
}

/* FAILED ATTEMPT */

.failed-attempt {
    background-color: rgb(35,35,35);
    padding: 7px;
    border-radius: 0.5rem;
    border: 1px solid rgba(255,255,255,0.1);
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

.failed-attempt-note {
    color: white;
    font-weight: 300;
    padding: 10px;
    background-color: rgba(11, 11, 11, 0.153);
    border-radius: 0.3rem;
    border: 1px solid rgba(255,255,255,0.1);
}

.failed-attempt-note span {
    font-weight: 600;
    color: orangered;
}

.failed-attempt-started-date {
    color: white;
    background-color: rgb(20,20,20);
    padding: 5px;
    border-radius: 0.2rem;
    border: 1px solid rgba(255,255,255,0.1);
}

.failed-attempt-sober-for {
    display: flex;
    padding: 5px 10px;
    border-radius: 0.2rem;
    border: 1px solid rgba(255,255,255,0.1);
    background-color: rgb(55,55,55);
}

.failed-attempt-sober-for-header {
    color: white;
    background-color: rgb(80,80,80);
    border-radius: 0.2rem;
    padding: 2px 7px;
    border: 1px solid rgba(255,255,255,0.1);
    text-align: center;
}

.failed-attempt-sober-for-paragraph {
    color: white;
}

/* 

    RECOVERY FORM 

*/

.recovery-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms;
}

.recovery-form-active {
    opacity: 1;
    pointer-events: unset;
}

.recovery-form-itself {
    padding: 5px;
    background-color: rgb(45,45,45);
    width: 400px;
    border-radius: 0.5rem;
    border: 1px solid rgba(255,255,255,0.05);
    display: flex;
    flex-direction: column;
}

.recovery-form-itself-input-itself {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 130px;
    min-height: 80px;
    max-height: 200px;
    padding: 5px;
    font-size: 1rem;
    border-radius: 0.2rem;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgb(30,30,30);
    color: white;
    outline: none;
}

.recovery-form-itself-button {
    font-size: 1rem;
    padding-block: 5px;
    border-radius: 0.2rem;
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.15);
    border-bottom: 1px solid rgba(255,255,255,0.03);
    background-color: rgb(80,80,80);
    color: white;
    cursor: pointer;
}

.recovery-form-itself-button:hover {
    background-color: rgb(90,90,90);
}

.recovery-form-itself-button:active {
    background-color: rgb(85,85,85);
}